#navbar h1 {
  float: none;
  text-align: center;
}

#navbar ul , #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 10px;
}

.container {
  padding: 0px;
}

.showcase-content h1 {
  padding-top: 20vh;
}

.showcase-content a {
  margin-bottom: 20vh;
}

.home-img {
  float: none;
  display: none;
}

.home-info {
  float: none;
  width: 100%;
}

.box-1, .box-2, .box-3 {
  float: none;
  width: 100%;
}

.info-left {
  float: none;
  width: 100%;
  padding-bottom: 15px;
}

.info-left h1 {
  text-align: center;
}

.info-right {
  float: none;
  width: 100%;
}

#testimonials {
  margin-top: 40px;
}

.box-1a, .box-2a, .box-3a {
  float: none;
  width: 100%;
  margin-bottom: 50px;
}

.box-1a h3, .box-2a h3, .box-3a h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}